<!-- <app-nav-bar></app-nav-bar> -->
<div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/5 p-2">
        <div *ngFor="let post of posts" class="mb-5">
          <div class="bg-white shadow rounded-lg overflow-hidden">
            <div class="flex flex-wrap">
              <div class="w-full md:w-2/5">
                <img [src]="post.image" class="h-64 w-full object-cover rounded-lg" alt="Lost Item Picture">
              </div>
              <div class="w-full md:w-3/5 p-4 flex flex-col justify-between">
                <div>
                  <div class="text-gray-500 mb-2">
                    <small class="underline">{{ post.category.categoryName }}</small>
                    <small class="underline"> . {{ post.municipality.name }}</small>
                    <small class="underline"> . Изгубено</small>
                  </div>
                  <h5 class="text-lg font-semibold mb-2">{{ post.title }}</h5>
                  <p class="text-gray-700 mb-4">{{ post.description }}</p>
                  <!-- <p class="text-gray-500 text-sm">{{ post.user.firstName }} {{ post.user.lastName }}</p> -->
                </div>
                <div class="mt-4 flex justify-end">
                  <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" [routerLink]="['/posts', post.id]">
                    View post <i class="fas fa-arrow-right ml-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  @if(posts.length === 0) {
    <section class="bg-gray-100 text-center py-20" id="sec-27b9">
      <div class="container mx-auto relative">
        <div class="flex justify-center items-center">
          <div class="w-full">
            <img class="w-full" src="../../../assets/home-page.png" id="background-image" alt="Findify">
            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
              <h1 class="text-4xl">There are no posts for review!</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  }
  