@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#item_map {
    height: 667px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.custom-radio:checked {
    background-color: #2abbca;
    border: 1px solid black;
    appearance: none;
    border-radius: 90%;
}

.custom-container {
    padding: 0;
    margin-left: 150px;
}

.btn {
    margin-top: 10px;
    background-color: #2abbca;
    border-color: #2abbca;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}