<div class="fixed inset-0 bg-black bg-opacity-50 z-50 overflow-x-hidden overflow-y-auto" id="newPostModal">
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-3xl">
            <div class="bg-white rounded-lg shadow-lg flex">
                <div class="w-full p-6 modal-content">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">

                        <div class="mb-4">
                            <label for="base-input"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Наслов</label>
                            <input type="text" id="base-input" formControlName="title" placeholder="Име на предметот"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>

                        <div class="mb-5">
                            <label for="base-input"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Опис</label>
                            <textarea id="message" rows="4" formControlName="description"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Напишете краток опис за предметот..."></textarea>
                        </div>

                        <div class="mb-4">
                            <label for="categories"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Категорија</label>
                            <select id="categories" formControlName="category"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected>Одбери категорија...</option>
                                @for (category of categories; track category.id) {
                                    <option>{{ category.categoryName }}</option>
                                    }
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="categories"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Општина</label>
                            <select id="categories" formControlName="municipality"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected>Одбери општина...</option>
                                @for (municipality of municipalities; track municipality.id) {
                                    <option>{{ municipality.name }}</option>
                                    }
                            </select>
                        </div>

                        <div class="mb-4">

                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                for="file_input">Прикачи фотографија</label>
                            <input (change)="onFileSelected($event)"
                                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                id="file_input" type="file">
                        </div>
                        <div class="mb-4">
                            <fieldset>
                                <label class="block text-sm font-medium text-gray-700">Тип</label>
                                <div class="mt-2 space-y-2">
                                    <div class="flex items-center">
                                        <input class="form-radio h-4 w-4 text-blue-600 custom-radio" type="radio"
                                            name="lostorfound" id="lost" value="lost" formControlName="lostorfound"
                                            checked>
                                        <label for="lost" class="ml-2 block text-sm text-gray-700">Изгубено</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input class="form-radio h-4 w-4 text-blue-600 custom-radio" type="radio"
                                            name="lostorfound" id="found" value="found" formControlName="lostorfound">
                                        <label for="found" class="ml-2 block text-sm text-gray-700">Најдено</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="text-center">
                            <button type="submit"
                                class="btn bg-blue-600 text-white px-4 py-2 rounded hover:bg-gray-800">Објави</button>
                        </div>
                    </form>
                </div>
                <div class="w-full">
                    <app-map></app-map>
                </div>
            </div>
        </div>
    </div>
</div>